.animated-shadow {
  position: relative;
  z-index: 1;
  animation: shadowPulse 2s infinite ease-in-out;
}

/* Bottom animated glow */
@keyframes shadowPulse {
  0% {
    box-shadow: 0 10px 12px -8px rgba(249, 115, 22, 0.25);
  }

  50% {
    box-shadow: 0 18px 20px -10px rgba(249, 115, 22, 0.7);
  }

  100% {
    box-shadow: 0 10px 12px -8px rgba(249, 115, 22, 0.25);
  }
}
.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:snow;
}

.hero-box {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: white;
  z-index: 1;
}

/* Rotating animated border */
.hero-box::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    transparent,
    #F97316,
    transparent,
    black,
    transparent
  );

  animation: rotateBorder 7s linear infinite;

  top: -50%;
  left: -50%;
  z-index: -2;
}

/* Inner white layer */
.hero-box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 22px;
  z-index: -1;
}

@keyframes rotateBorder {
  100% {
    transform: rotate(360deg);
  }
}
.scale-animation {
  animation: scale 3s ease-in-out infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}
.card {
  border: none;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(249, 115, 22, 0.25);
}
.glow-card {
  position: relative;
  padding: 3px;
  border-radius: 22px;
  overflow: hidden;
}

/* Rotating Glow */
.glow-card::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(
    transparent,
    rgba(249, 115, 22, 0.7),
    transparent,
    rgba(249, 115, 22, 0.7),
    transparent
  );

  animation: rotateGlow 4s linear infinite;
}

/* Inner Card Layer */
.glow-card::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: white;
  border-radius: 20px;
  z-index: 1;
}

.glow-card .card {
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 20px;
}

/* Rotation Animation */
@keyframes rotateGlow {
  100% {
    transform: rotate(360deg);
  }
}